.addProduct-container__form {
    display: flex;
    align-items: center;
    width: 70rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.698);
    overflow-y: auto;
    height: 30rem;
}

.addProduct-container__form>* {
    margin-top: 2rem;
    width: 50%;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 1rem;
    border: none;
}

.addProduct-container__form>span {
    height: 1rem;
    margin: 0;
}

.dropzone {
    padding: 2rem;
    background-color: rgba(255, 252, 186, 0.51);
    display: flex;
    align-items: center;
    border-style: dashed;
    color: #a7a7a7;
    outline: none;
    transition: 1s;
}

.dropzone:hover {
    background-color: rgba(251, 177, 255, 0.264);
}

.drag-n-drop-p {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.previews-container {
    display: flex;
    flex-direction: column;
    min-height: 8rem;
    margin-top: 2rem;
}

.preview-common-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.preview-container {
    display: flex;
    position: relative;
    border-radius: 1rem;
    border: 1px solid #eaeaea;
    margin-right: 1rem;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    scroll-snap-align: center;
}

.preview-container__inner {
    overflow: hidden;
    border-radius: 1rem;
}

.preview-container__image {
    position: absolute; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.preview-container__image-delete {
    width: 7rem;
    height: 7rem;
}

.preview-container:hover .preview-container__image-delete{
    top: 0;
    float: left;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: rgba(240, 248, 255, 0.522);
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

.form-button{
    margin-bottom: 2rem;
    background-color: $peach_color-opacity;
    width: 10%;
    padding: 0.2rem 0 0.2rem 0;
}

.input-form{
    height: 2rem;
}