.addProduct-container__form {
    display: flex;
    width: 70rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.addProduct-container__form>* {
    width: 50%;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 1rem;
    border: none;
}

.dropzone {
    padding: 2rem;
    background-color: rgba(255, 252, 186, 0.51);
    display: flex;
    align-items: center;
    border-style: dashed;
    color: #a7a7a7;
    outline: none;
    transition: 1s;
}

.dropzone:hover {
    background-color: rgba(251, 177, 255, 0.264);
}

.drag-n-drop-p {
    width: 100%;
    text-align: center;
    cursor: pointer;
}