.products__list{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  border-radius: 1rem;
  height: 24rem;
}

.products-container{
  display: flex;
  align-items: center;
  height: calc(100vh - 6rem);
}

.products-inner-container {
  display: flex;
  height: 80%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.318);
  border-radius: 1rem;
}