$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$black_color: rgba(34, 34, 34, 1);
$white_color: rgba(255, 255, 255, 1);
$dark_pink_color: rgba(241, 109, 127, 1);
$pink_color: rgba(241, 228, 230, 1);
$light_pink_color: rgba(248, 243, 244, 1);
$grey_color: rgba(177, 177, 177, 1);
