$font-stack: Helvetica, sans-serif;
$primary-color: rgb(51, 51, 51);
$dark-blue_color: rgb(6, 20, 47);
$blue_color: rgb(27, 44, 87);
$purple_color: rgb(65, 57, 96);
$pink_color: rgb(189, 130, 186);
$beige_color: rgb(244, 213, 219);
$peach_color:rgba(192, 1, 1, 0.588) ;

// rgb(243, 146, 111)
$red-opacity:#c0010196;
$dark-blue-opacity_color: rgba(6, 20, 47, 0.15);
$white-opacity_color: rgba(255, 255, 255, 0.286);
$beige-opacity_color: rgba(244, 213, 219, 0.356);
$purple-opacity_color: rgba(232, 232, 255, 0.285);
$purple-light-opacity_color: rgba(199, 191, 251, 0.175);
$peach_color-opacity:rgba(192, 1, 1, 0.426) ;
$white_color-opacity: rgba(255, 255, 255, 0.689)

// #ffab8dda